lrtp-app {
  gl-drawer {
    ion-list.list-md,
    ion-list.list-ios {
      margin-bottom: 0;
    }
  }
  .flash {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 1.5s;

    animation-name: flash-animation;
    animation-duration: 1.5s;
  }
  gl-form-page {
    ion-list-header.list-header-md,
    ion-list-header.list-header-ios,
    gl-field[type="text"] ion-label.label-md,
    gl-field[type="text"] ion-label.label-ios {
      font-weight: bold;
      font-size: 1.1rem;
      letter-spacing: normal;
      text-transform: none;
    }
  }
  gl-form-page ion-list-header {
    justify-content: flex-start;
  }
  gl-draw-toolbar .toolbar-title::before,
  gl-form-page ion-list-header::before,
  gl-form-page .item-textarea ion-label::before {
    background-color: black;
    border-radius: 0.7em;
    color: white;
    content: '1';
    display: inline-block;
    font-weight: bold;
    height: 1.4em;
    line-height: 1.4em;
    margin-right: 0.5em;
    text-align: center;
    width: 1.4em;
  }
  gl-form-page ion-list-header::before {
    content: '4';
  }
  gl-form-page.gl-form-page-facet-none ion-list-header::before {
    content: '2';
  }
  gl-form-page.gl-form-page-facet-pedestrian,
  gl-form-page.gl-form-page-facet-bicycle,
  gl-form-page.gl-form-page-facet-bus,
  gl-form-page.gl-form-page-facet-automobile,
  gl-form-page.gl-form-page-facet-plane,
  gl-form-page.gl-form-page-facet-train {
    ion-list-header::before {
      content: '3';
    }
  }
  gl-form-page .item-textarea ion-label::before {
    content: '5';
  }
  gl-form-page.gl-form-page-facet-plane,
  gl-form-page.gl-form-page-facet-train {
    .item-textarea ion-label::before {
      content: '4';
    }
  }

  @-webkit-keyframes flash-animation {
      from { background: yellow; }
      to   { background: default; }
  }

  @keyframes flash-animation {
      from { background: yellow; }
      to   { background: default; }
  }
}

@media (max-width: 640px) {
  ion-toolbar ion-title .toolbar-title {
    font-size: 1em;
  }
  div#driver-popover-item {
    max-width: 200px;
    min-width: 200px;
    .driver-popover-title {
      font-size: 14px;
    }
    .driver-popover-description {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}
