lrtp-app {
  gl-drawer {
    ion-list.list-md,
    ion-list.list-ios {
      margin-bottom: 0;
    }
  }
  .flash {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 1.5s;

    animation-name: flash-animation;
    animation-duration: 1.5s;
  }
  gl-form-page {
    ion-list-header.list-header-md,
    ion-list-header.list-header-ios,
    gl-field[type="text"] ion-label.label-md,
    gl-field[type="text"] ion-label.label-ios {
      font-weight: bold;
      font-size: 1.1rem;
      letter-spacing: normal;
      text-transform: none;
    }
  }

  @-webkit-keyframes flash-animation {
      from { background: yellow; }
      to   { background: default; }
  }

  @keyframes flash-animation {
      from { background: yellow; }
      to   { background: default; }
  }
}

@media (max-width: 640px) {
  ion-toolbar ion-title .toolbar-title {
    font-size: 1em;
  }
  div#driver-popover-item {
    max-width: 200px;
    min-width: 200px;
    .driver-popover-title {
      font-size: 14px;
    }
    .driver-popover-description {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}
