lrtp-address-search {
  background-color: white;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  max-height: 100%;
  ion-searchbar {
    flex: none;
  }
  ion-list.list-ios {
    margin-bottom: 0;
    overflow-y: scroll;
  }
}
